# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [ ]:
# Your code goes here

In [2]:
import pandas as pd

In [3]:
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

df_1 = pd.read_csv(url1)
df_2 = pd.read_csv(url2)
df_3 = pd.read_csv(url3)

In [ ]:
df_1.head(1)

In [ ]:
df_2.head(1)

In [ ]:
df_1.head(3)

In [4]:
df_1.columns = [column.lower().replace(" ","_") for column in df_1.columns]

In [5]:
df_2.columns = [column.lower().replace(" ","_") for column in df_2.columns]

In [6]:
df_3.columns = [column.lower().replace(" ","_") for column in df_3.columns]

In [ ]:
df_1.columns

In [ ]:
df_2.columns

In [ ]:
df_3.columns

In [9]:
df_1.rename(columns= {'st': 'state'}, inplace=True)

df_2.rename(columns= {'st': 'state'}, inplace=True)

In [10]:
df_concat = pd.concat([df_1, df_2, df_3], axis=0)

In [ ]:
df_concat.head(1)

In [ ]:
df_1.shape

In [ ]:
df_2.shape

In [ ]:
df_3.shape

In [ ]:
df_concat.shape

In [11]:
df_concat.dropna(how='all',inplace = True )#eliminamos rows con solo CERO

In [12]:
df_concat.shape #df_concat ahora sin filas nulas -en ceros-

(9137, 11)

In [13]:
gender_mapping = {"F": "F", "M":"M", "Male": "M", 'female': "F" , "Femal": "F"}
df_concat["gender"] = df_concat['gender'].map(gender_mapping)

In [14]:
def replace_in_df(x):
    if x == "WA":
        x = "Washington"
    elif x == "AZ":
        x = "Arizona"
    elif x == "Cali":
        x = "California"  
    elif x == "Bachelors":
        x = "Bachelor"
    elif x == "Sports Car" or x == "Luxury SUV" or x == "Luxury Car":
        x = "Luxury"
    
    return (x)

In [15]:
df_3["number_of_open_complaints"].unique()

array([0, 2, 3, 1, 5, 4])

In [ ]:
df_3["number_of_open_complaints"].info()

In [16]:
df_concat = df_concat.applymap(replace_in_df)

/var/folders/v4/fgnr7b6s2fdbdy6vyj585tz40000gn/T/ipykernel_15327/2114790407.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_concat = df_concat.applymap(replace_in_df)

In [17]:
complaints_mapping = {0:0,1:1,2:2,3:3,4:4,5:5,"1/0/00": 0 , "1/2/00": 2, "1/1/00": 1 , '1/3/00': 3 , "1/5/00": 5 , '1/4/00': 4}
df_concat["number_of_open_complaints"] = df_concat['number_of_open_complaints'].map(complaints_mapping)

In [ ]:
df_concat.nunique()

In [ ]:
df_concat.number_of_open_complaints.unique()

In [18]:
def replace_percent(x):
    if isinstance(x, str):
        x = float(x.replace('%',''))
    return x

In [19]:
df_concat["customer_lifetime_value"] = df_concat["customer_lifetime_value"].apply(replace_percent)

In [ ]:
df_concat.customer_lifetime_value.info()

In [ ]:
df_concat.isnull().sum()  #df_concat.isnull().sum()

In [20]:
df_concat.customer_lifetime_value.fillna(df_concat.customer_lifetime_value.median(),inplace = True)

In [21]:
df_concat.gender.fillna(df_concat.gender.mode()[0],inplace = True)

In [ ]:
df_concat.isnull().sum()

In [ ]:
df_concat.duplicated().sum()

In [ ]:
duplicates = df_concat.duplicated(keep = False)
# Encuentra las filas duplicadas. 'keep=False' marcará todas las duplicadas como True.

In [ ]:
# Filtra 'df' para mantener solo las filas duplicadas.
df_concat_duplicadas = df_concat[duplicates]

In [ ]:
df_concat_duplicadas

In [22]:
df_concat.drop_duplicates(keep='last', inplace=True)

In [23]:
df_concat.duplicated().sum()

0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
# Your code goes here

In [24]:
url4 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"

df_m = pd.read_csv(url4)

In [ ]:
df_m.columns = [column.lower().replace(" ","_") for column in df_m.columns]

In [25]:
df_m.nunique()

unnamed:_0                       10910
customer                          9134
state                                5
customer_lifetime_value           8041
response                             2
coverage                             3
education                            5
effective_to_date                   59
employmentstatus                     5
gender                               2
income                            5694
location_code                        3
marital_status                       3
monthly_premium_auto               202
months_since_last_claim             37
months_since_policy_inception      100
number_of_open_complaints            7
number_of_policies                   9
policy_type                          3
policy                               9
renew_offer_type                     4
sales_channel                        4
total_claim_amount                5106
vehicle_class                        6
vehicle_size                         3
vehicle_type                         1
month                                2
dtype: int64

In [26]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

In [27]:
df_m.shape

(10910, 27)

In [29]:
df_m.describe(include="object")

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,vehicle_type
count,10910,10910,10910,10910,10910,10910,10910,10910,10910,10910,10910,10910,10910,10910,10910,10910,10910
unique,9134,5,2,3,5,59,5,2,3,3,3,9,4,4,6,3,1
top,ID89933,California,No,Basic,Bachelor,2011-01-10,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Four-Door Car,Medsize,A
freq,7,4183,9444,6660,3272,239,6789,5573,6902,6319,8128,4118,4483,4121,5834,7873,10910

In [31]:
df_m["number_of_open_complaints"].unique()

array([0.        , 0.38425611, 3.        , 1.        , 2.        ,
       4.        , 5.        ])

In [32]:
df_m["number_of_open_complaints"] = df_m["number_of_open_complaints"].apply(lambda x : int(x))

In [33]:
df_m["number_of_open_complaints"].unique()

array([0, 3, 1, 2, 4, 5])

In [37]:
df_m.duplicated().sum()

0

In [38]:
df_m.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [34]:
df_m["sales_channel"].unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [44]:
pivot_df_channel = round(df_m.pivot_table(index="sales_channel", values=['customer_lifetime_value'], aggfunc='sum'),2)

In [46]:
pivot_df_channel

               customer_lifetime_value
sales_channel
Agent                      33057887.85
Branch                     24359201.21
Call Center                17364288.37
Web                        12697632.90

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [48]:
pivot_df_education = round(df_m.pivot_table(index="education", columns = "gender", values=['customer_lifetime_value'], aggfunc='mean'),2)

In [49]:
pivot_df_education

                     customer_lifetime_value
gender                                     F        M
education
Bachelor                             7874.27  7703.60
College                              7748.82  8052.46
Doctor                               7328.51  7415.33
High School or Below                 8675.22  8149.69
Master                               8157.05  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here